name: AWS OIDC Demo

on:
  workflow_dispatch

permissions:
  id-token: write # Required for OIDC
  contents: read # Required to checkout the repo

jobs:
  aws-oidc-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/rol-githubconnect
          aws-region: us-east-1
      - name: Verify identity
        run: aws sts get-caller-identity
